[application]

[web.app]

# HTML title tag content
title = "carbon-admin-ui"

# Base path for the application (where it will be served from)
base_path = "/admin/ui"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
